<section class="container py-5">
  <h1><%= title %></h1>
  <form class="py-3" action="" method="POST">
    <div class="form-group">
      <label for="name">Manufacturer Name:</label>
      <input class="form-control" type="text" name="name" value="<%= typeof company === 'undefined' ? '' : company.name %>" required>
    </div>
    <div class="form-group">
      <label for="founded">Founded:</label>
      <input class="form-control" type="number" name="founded" id="founded" min="1800" max="<%= new Date().getFullYear() %>" value="<%= typeof company === 'undefined' ? '' : company.founded %>" required>
    </div>
    <div class="form-group">
      <label for="country">Country:</label>
      <select class="form-control" name="country" id="country" required>
        <% countries.forEach(coun => { %> 
          <option value="<%= coun %>" <%= (typeof company !== 'undefined' && (company.country === coun)) ? "selected" : null %> >
            <%= coun %>
          </option>
        <% }) %>
      </select>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</section>