<section class="container py-5">
  <h1><%= title %></h1>
  <form class="py-3" action="" method="POST">
    <div class="form-group">
      <label for="system">System:</label>
      <select class="form-control" name="system" id="system">
        <% Object.keys(systemList).forEach(key => { %>
          <option value="<%= systemList[key]._id %>" <%= (typeof unit !== 'undefined' && (String(unit.system._id) === String(systemList[key]._id))) ? 'selected' : null %> ><%= systemList[key].name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="condition">Condition:</label>
      <select class="form-control" name="condition" id="condition" required>
        <option value="New" <%= (typeof unit !== 'undefined' && unit.condition === 'New') ? 'selected' : null %> >New</option>
        <option value="Open-Box" <%= (typeof unit !== 'undefined' && unit.condition === 'Open-Box') ? 'selected' : null %> >Open Box</option>
        <option value="Refurbished" <%= (typeof unit !== 'undefined' && unit.condition === 'Refurbished') ? 'selected' : null %> >Refurbished</option>
        <option value="Used" <%= (typeof unit !== 'undefined' && unit.condition === 'Used') ? 'selected' : null %> >Used</option>
        <option value="For-Parts" <%= (typeof unit !== 'undefined' && unit.condition === 'For-Parts') ? 'selected' : null %> >For Parts Only</option>
      </select>
    </div>
    <div class="form-group">
      <label for="region">Region:</label>
      <select class="form-control" name="region" id="region" required>
        <option value="NTSC-UC" <%= (typeof unit !== 'undefined' && unit.region === 'NTSC-UC') ? 'selected' : null %> >NTSC-UC (US / Canada)</option>
        <option value="NTSC-J" <%= (typeof unit !== 'undefined' && unit.region === 'NTSC-J') ? 'selected' : null %>>NTSC-J (Japan / East Asia)</option>
        <option value="PAL" <%= (typeof unit !== 'undefined' && unit.region === 'PAL') ? 'selected' : null %>>PAL (Europe / RoW)</option>
        <option value="Region-Free" <%= (typeof unit !== 'undefined' && unit.region === 'Region-Free') ? 'selected' : null %>>Region Free</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Price ($):</label>
      <input class="form-control" type="number" step="0.01" name="price" id="price" value="<%= (typeof unit !== 'undefined') ? unit.price : 0.00 %>" required">
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
</section>
